@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black-color: #000;
    --grey-color: #808080;
    --lighter-grey-color: #c0c0c0;
}

/* utility styles */
.mb-sm {
    margin-bottom: 0.6em;
}

.mb-lg {
    margin-bottom: 1em;
}

.mt-sm {
    margin-bottom: 0.6em;
}

.p-sm {
    padding: 1em;
}

.py-sm {
    padding: 1em 0;
}

.pb-sm {
    padding-bottom: 2em;
}

.p-lg {
    padding: 2em;
}

.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

.fw-700 {
    font-weight: 700;
}

.fw-900 {
    font-weight: 900;
}

.fw-normal {
    font-weight: normal;
}

.fs-1 {
    font-size: 5rem;
}

.fs-2 {
    font-size: 4rem;
}

.fs-3 {
    font-size: 2rem;
}

.fs-5 {
    font-size: 1.5rem;
}

.league-spartan-font {
    font-family: "League Spartan", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    /*100 - 900*/
    font-style: normal;
}


.inter-font {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}


.dm-sans-font {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

body {
    position: relative;
}

/* navbar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e7dcdc;
    margin: 10px;
    padding: 1em;
    border-radius: 15px;
    height: 70px;
    /* outline: solid red; */
}

.nav-links a {
    text-decoration: none;
    color: var(--black-color);
    margin-right: 1em;
    font-weight: normal;
    font-size: 28px;
}

.language-select-form #language-form {
    padding: 0.8em;
    border-radius: 15px;
}

/* banner */
section#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: calc(100vh - 70px);
    text-align: center;
    /* outline: solid red; */

}

.call-us-now-btn {
    background-color: var(--black-color);
    color: white;
    text-decoration: none;
    padding: 0.7em 2em;
    display: inline-block;
    border-radius: 10px;
}

/* sample work section */
.sample-work-images {
    position: absolute;
    left: 10px;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;


}

.sample-work-image {
    width: 300px;
    height: 400px;
    outline: solid red;
}

.sample-work-image img {
    display: block;
}

.sample-work-image-1 {
    background: url('assets/images/agency-work-image-2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.sample-work-image-2 {
    background: url('assets/images/agency-work-image-10.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.sample-work-images-2 {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;

}

.sample-work-image-3 {
    background: url('assets/images/agency-work-image-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.sample-work-image-4 {
    background: url('assets/images/agency-work-image-6.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* webadvert */
.container {
    margin: auto;
    width: 90%;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-container {
    background: url('assets/images/laptop-image-1.avif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 550px;
    height: 500px;
}

.btn-link {
    text-decoration: none;
    padding: 0.7em 2em;
    border-radius: 10px;
    display: inline-block;
    font-weight: normal;
}

.link1 {
    background-color: var(--black-color);
    color: white;
}

.link2 {
    background-color: var(--lighter-grey-color);
    color: var(--black-color);
}

/* why choose us */
.why-choose-us-box-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media screen and (min-width: 100px) {}