@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black-color: #000;
    --grey-color: #808080;
    --lighter-grey-color: #c0c0c0;
    --main-gray-color: rgb(245, 245, 245);
    --framer-font-family: Inter, Inter Placeholder, sans-serif;
    --framer-font-style: normal;
    --framer-font-weight: 500;
    --framer-text-color: #000;
    --framer-font-size: 16px;
    --framer-letter-spacing: 0;
    --framer-text-transform: none;
    --framer-text-decoration: none;
    --framer-line-height: 1.2em;
    --framer-text-alignment: start;
    --framer-font-open-type-features: normal;
    --font-variation-settings: normal
}

/* utility styles */
.d-inline-block {
    display: inline-block;
}

.w-30 {
    width: 30%;
}

.w-50 {
    width: 50%;
}

.w-70 {
    width: 70%;
}

.w-100 {
    width: 100%;
}

.mb-sm {
    margin-bottom: 0.6em;
}

.mb-lg {
    margin-bottom: 1em;
}

.mb-xl {
    margin-bottom: 3em;
}

.mt-sm {
    margin-top: 0.6em;
}

.mt-lg {
    margin-top: 2.5em;
}

.mt-y-lg {
    margin: 1.5em 0;
}

.my-sm {
    margin: 1.5em 0;
}

.p-sm {
    padding: 1em;
}

.py-sm {
    padding: 1em 0;
}

.pb-sm {
    padding-bottom: 2em;
}

.p-lg {
    padding: 2em;
}

.py-lg {
    padding: 2em 0;
}

.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
    ;
}

.fw-900 {
    font-weight: 900;
}

.fw-normal {
    font-weight: normal;
    font-style: normal;
}

.fs-1 {
    font-size: 5rem;
}

.fs-2 {
    font-size: 4rem;
}

.fs-3 {
    font-size: 2rem;
}

.fs-4 {
    font-size: 2.5rem;
}

.fs-5 {
    font-size: 1.3rem;
}

.fs-6 {
    font-size: 1rem;
}

.league-spartan-font {
    font-family: "League Spartan", serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.inter-font {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}


.dm-sans-font {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    /* add font-weight - italic */
}

.text-white {
    color: white;
}

body {
    position: relative;
}

/* navbar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e7dcdc;
    margin: 10px;
    padding: 1em;
    border-radius: 15px;
    height: 70px;
    /* outline: solid red; */
}

.nav-links a {
    text-decoration: none;
    color: var(--black-color);
    margin-right: 1em;
    font-weight: normal;
    font-size: 28px;
}

.language-select-form #language-form {
    padding: 0.8em;
    border-radius: 15px;
}

/* banner */
section#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: calc(100vh - 70px);
    text-align: center;
    /* outline: solid red; */

}

.call-us-now-btn {
    background-color: var(--black-color);
    color: white;
    text-decoration: none;
    padding: 0.7em 2em;
    display: inline-block;
    border-radius: 10px;
}

/* sample work section */
.sample-work-images {
    position: absolute;
    left: 10px;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
}

.sample-work-image {
    width: 300px;
    height: 400px;
    outline: solid red;
}

.sample-work-image img {
    display: block;
}

.sample-work-image-1 {
    background: url('assets/images/agency-work-image-2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.sample-work-image-2 {
    background: url('assets/images/agency-work-image-10.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.sample-work-images-2 {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;

}

.sample-work-image-3 {
    background: url('assets/images/agency-work-image-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.sample-work-image-4 {
    background: url('assets/images/agency-work-image-6.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* webadvert */
.container {
    margin: auto;
    width: 90%;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-container {
    background: url('assets/images/laptop-image-1.avif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 510px;
    height: 530px;
    border-radius: 10px;
}

.btn-link {
    text-decoration: none;
    padding: 0.7em 2em;
    border-radius: 10px;
    display: inline-block;
    font-weight: normal;
}

.link1 {
    background-color: var(--black-color);
    color: white;
    margin-right: 1em;
}

.link2 {
    background-color: var(--main-gray-color);
    color: var(--black-color);
}

/* why choose us */
.why-choose-us-box-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.why-choose-us-box {
    background-color: var(--main-gray-color);
    padding: 1em 1.4em;
    border-radius: 10px;
}

.why-choose-us-box a {
    text-decoration: none;
    color: #000;
}

/* services */
.service-boxes {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.service-box {
    background-color: var(--main-gray-color);
    margin-left: 1em;
    padding: 1em;
    height: 360px;
    border-radius: 10px;
}

.service-box a {
    text-decoration: none;
    color: #000;
}


/* result */

.result-sample {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* faq */

.accordion-container {
    width: 70%;
    margin: auto;
    padding: 1em;
    background-color: var(--main-gray-color);
    border-radius: 10px;
}

.accordion-item:not(:last-child) {
    border-bottom: 1px solid #e5e5e5;
}

.accordion-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    background: none;
    border: none;
    cursor: pointer;
}

.accordion-button i {
    font-size: 1.2rem;
    transition: transform 0.3s ease;
    margin-left: 1rem;
}

.accordion-button.active i {
    transform: rotate(45deg);
    color: #dc3545;
}

.accordion-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    color: #666;
    line-height: 1.6;
}

.accordion-answer p {
    padding-bottom: 1.5rem;
}

/* what our clients say */
.client-text {
    font-family: "DM Sans", serif;
    font-size: 1.5rem;
}

.faq-text {
    font-family: "DM Sans", serif;
    font-size: 1.4rem;
}

/* book a call now */
.book-a-call {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.call-us-cta {
    border: 1px solid #000;
}

.contact-form input,
textarea,
select {
    display: block;
}


.contact-form label {
    margin: 0 0.3em;
    font-family: "DM Sans", serif;
}


.contact-form input,
select {
    background-color: var(--main-gray-color);
    border: 0.5px solid #EAE7D9;
    border-radius: 10px;
    width: 100%;
    padding: 1em;
    margin: 1em 0.3em;
}

.contact-form textarea {
    width: 100%;
    margin: 1em 0.3em;
    padding: 2em;
    background-color: var(--main-gray-color);
    border: 0.5px solid #EAE7D9;
    border-radius: 10px;
}

.contact-form input[type='submit'] {
    background-color: var(--black-color);
    color: white;
    font-family: "DM Sans" serif;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1rem;
}

/* footer */
footer {
    background-color: #442727;
    text-transform: capitalize;
}

.footer-container {
    width: 99%;
    margin: auto;
    /* padding: 0 0.5em; */
}

.logo-and-social-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    font-weight: bold;
}

.footer-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.footer-link span,
svg {
    color: #EAE7D9;
    font-size: 2.5rem;
    font-weight: 900;
}

.copyright {
    color: white;
    font-style: normal;
    font-weight: 400;
}

@media screen and (min-width: 500px) {

    /* faq */
    .accordion-button {
        font-size: 1rem;
    }
}